*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Assistant", sans-serif;
    line-height: 1.6;
    background-color: #E0F7FA;
}

.header{
    background-color: #0D47A1;
    color: #fff;
    text-align: center;
    padding: 50px 0;

}

.header h1{
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
}

header p{
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100vh;
}




.box{
    /* background-color: #f4f4f4; */
    padding: 20px;
    margin: 10px;
    width: 60%;
    text-align: justify;
    border-radius: 20px;
    color: #424242;
    font-size: 1.1rem;

}

.footer{
    background-color: #0D47A1;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.parallax1{
    background-image: url(./cat.jpg);
}
.parallax2{
    background-image: url(https://images.unsplash.com/photo-1479233270217-77d99c494c4e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.parallax3{
    background-image: url(./baby.jpg);
}
.parallax4{
    background-image: url(https://images.everydayhealth.com/images/news/sleep-disturbances-affect-skin-disease-patients-1440x810.jpg?sfvrsn=639bc137_5);
}

.parallax{
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

th, td{
    border: 1px solid black;
    padding: 8px;
}

table{
    text-align: center;
    border-collapse: collapse;
}

thead{
    background-color: #0D47A1;
    color: #fff;
}

thead th{
    width: 20%;
}

ul{
    margin-left: 50px;
}

@media (max-width: 768px){
    .box{
    padding: 30px;
    margin: 0px;
    width: 100%;
}

.container1{height: 200vh;}
.container2{height: 70vh;}
.container3{height: 90vh;}
.container4{height: 100vh;}

}

@media (max-width: 480px){
    .box{
    padding: 30px;
    margin: 0px;
    width: 100%;
}

.container1{height: 110vh;}
.container2{height: 170vh;}
.container3{height: 160vh;}
.container4{height: 215vh;} 

}

@media (max-width: 320px){
    .box{
    padding: 30px;
    margin: 0px;
    width: 100%;
}

.container1{height: 180vh;}
.container2{height: 380vh;}
.container3{height: 250vh;}
.container4{height: 480vh;}

}
